
label {
	font-weight: normal;
}

.logo {
	text-transform: capitalize;
	font-weight: normal;
	font-size: 18px;
}

.upload-wraper {
	list-style-type: none;
	padding-left: 0;
	margin-top: 5px;
}

.upload-wraper li {
	width: 82px;
	height: 82px;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #E3E3E3;
	border-radius: 2px;
}

.upload-wraper li img {
	width: 80px;
	height: 80px;
}

.webuploader-pick {
	background: transparent;
	padding: 0px;
	display: inline;
}

.J-ajax-upload {
	position: relative;
	top: -5px;
}

.m-w-100 {
	max-width: 100px;
}
